{% extends "base.html" %}

{% block content %}
<h2>Login</h2>

{% if retry %}
<p id="invalid_login">Invalid Username or Password</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <p>
        <label for="username">username</label>
        <input type="text" id="username" name="username">
        </p>
        <p>
        <label for="password">password</label>
        <input type="password" id="password" name="password">
        </p>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<p>Click <a href="{% url 'create_user' %}">here</a> to make an account</p>
{% endblock %}